
img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -120px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  bottom: 0!important;
  position:fixed;
  margin: 0 auto;
  min-width: 100%;
  max-height: 10%;
  clear: both;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.post-min-heigth {
  min-height: 50%;
}
button.button-delete-compos {
  top: 0;
  right: 0;
  float:right;

  position: relative;
  display: inline-block;
}

.comment-text {
  max-width: 90%;
}
 App {
  height: 100%;
  margin-bottom: 10%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 4%;
  padding-bottom: 6%;
}
